.primer-contenedor{
    background-color: #2a2a2a;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.contenedor-barra{
    display: flex;
    justify-content: center;
}

.sala-container {
    position: relative;
    padding: 70px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), 
                url('assets/sala.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    text-align: left;
    color: white;
}

.sala-texto {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 25px;
    z-index: 2;
    width: 80%;
}

.sala-texto h1 {
    font-size: 5rem;
    font-weight: bold;
}

.sala-texto h2{
    font-size: 2rem;
}

.sala-texto p {
    font-size: 1 rem;
    font-weight: normal;
}

.btn-custom {
    width: 200px;
    background-color: #222;
    color: white;
    font-weight: bold;
    padding: 15px 40px;
    font-size: 16px;
    border: 3px solid #444;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.btn-custom:hover {
    background-color: #333;
    border-color: #555; 
}

.cards-container{
    display: flex;
    justify-content: space-around;
}

.card{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img{
    width: 100px;
}

.card-text{
    text-align: center;
}

.card-text strong{
    font-size: 1.5rem;
}

.contenedor-imagenes{
    padding: 30px;
    position:relative;
    height: auto;
}

.imagen-base{
    width: 100%;
    width: 500px;
    height: 450px;
    display: block;
}

.imagen-superior{
    position: absolute;
    width: 60%;
    left: 45%;
    top: 40%;
    z-index: 2;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.imagenes{
    display: flex;
    justify-content: center;
}


.texto{
    padding: 30px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    gap:10px;
}

.texto h2{
    font-weight: bold;
}

.texto p{
    padding-top: 20px;
}


.lora-texto1 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-size: 1.2rem;
    font-weight:500;
    font-style: normal;
    color: #555;
}

.work-sans-texto2 {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    color:#555;
  }

.contenedor-pie{
    margin-top: 40px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    background-color: #2a2a2a;
    color:white;
}

.address p,
.useful-links p,
.services p,
.about p{
    color:#999;
    font-size: 0.9rem;
}

.address h3,
.contacts h3,
.useful-links h3,
.services h3,
.about h3,
.social-media h3{
    font-size: 1.3rem;
}

.iconos{
    display: flex;
    justify-content: space-around;
}

.iconos a{
    color: white;
}


